* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: orange;
}
.form {
    width: 800px;
    margin: 0 auto;
}

.form-input {
    border: none;
    outline: none;
    padding: 16px 2rem;
    background-color: white;
    border-radius: 10px;
    width: 350px;
    margin: 0 20px;
    margin-top: 2rem;
}
.form-btn {
    border: none;
    outline: none;
    display: block;
    margin: 20px 20px 0;
    padding: 16px 2rem;
    font-size: 16px;
    border-radius: 10px;
    color: black;
}
.form-btn:active {
    transform: scale(0.96);
}
.form-total {
    margin: 20px 20px;
    display: block;
    font-size: 2rem;
    width: 350px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(43, 198, 226);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}