* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #4b70e2;
}
.form-group {
    min-width: 500px;
    margin: 0 auto;
}
.form-input {
    width: 49%;
    padding: 10px 1.2rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;

}
.form-btn {
    display: block;
    border: none;
    outline: none;
    margin-top: 20px;
    padding: 10px 2rem;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color: red;
    color: white;
}
.form-btn:active {
    transform: scale(0.96);
}
.form-total {
    width: 100%;
    background-color: red;
    display: block;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    background-color: whitesmoke;
    display: none;
}